In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("notesL1A.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()

In [25]:
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df

                                  qcm    exo  notes
nom                   prenom
 ambrossio            lea maria  5.33   4.00   9.33
 bal                  alexandre  5.50   0.00   5.50
 blauwblomme          ilan       7.16   3.00  10.16
 bonnet               margaux    9.50  14.50  20.00
 boudrissa            mahiedine  8.50   8.50  17.00
 boyaval              julie      8.00  10.00  18.00
 brezac               karen      7.33   5.00  12.33
 cazeaux              victor     5.50   3.50   9.00
 cherigui             leyla      0.00   0.00   0.00
 delcroix             arthur     6.00   4.50  10.50
 fabre                emylien    0.00   0.00   0.00
 foucault             antoine    8.16  11.00  19.16
 galtier              erwan      8.16  10.00  18.16
 géneau de lamarlière théo       4.50   7.00  11.50
 halter               naomie     9.50   7.50  17.00
 horrenberger         romain     5.16   6.00  11.16
 kalistas             jannine    0.00   0.00   0.00
 lefebvre             elisa      7.50   4.50  12.00
 lenglen              adam       7.00   6.50  13.50
 lestriez             hugo       7.50   4.50  12.00
 maigre               mathilde   6.00   4.50  10.50
 marechal             lucie      0.00   0.00   0.00
 ouarghi              sofia      0.00   0.00   0.00
 piriou               hugo       0.00   0.00   0.00
 pruvos               mathilde   8.83   6.00  14.83
 rakotoarisoa         celia      6.50   8.75  15.25
dennemont             julien     7.83   2.00   9.83
el zoghbi             rudy       8.83   2.00  10.83

In [26]:
df.to_csv("notesDMFinalL1A.csv")